// This line starts Noctalia, a commonly used niri Noctalia.
spawn-at-startup "noctalia"
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
