layout {

    focus-ring {
        active-color   "#8aceff"
        inactive-color "#13121c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#8aceff"
        inactive-color "#13121c"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#8aceff"
        inactive-color "#004c6e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#8aceff80"
    }
}

recent-windows {
    highlight {
        active-color "#8aceff"
        urgent-color "#ffb4ab"
    }
}
